.moverscontainer{
    background-color: beige;
    width: 100%;
    height: 100vh;
    border:black 2px solid;
    position: relative
}

.movers{
    background-color: brown;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
}